.row.md-6
  = simple_form_for [:post, comment] do |f|
    = f.input :body, as: :text, id: 'js-new-comment-body', row: 4, placeholder: Comment.human_attribute_name(:body)
    = f.button :submit, 'defaults.post', class: %w[btn btn-primary]
