- set_meta_tags og: { og_title: t('.og_title'), description: t('.og_description') }

html.has-navbar-fixed-top
header.is-dark.navbar.is-fixed-top[role="navigation" aria-label="main navigation"]
  .container
    .navbar-brand
      .navbar-item
        = link_to root_path, data: { turbolinks: false }
          = image_tag('/images/buildesk_logo.png', size: '112x28')

main
  .container        
    section.section
      .columns.is-vcentered.is-marginless
        .column.is-offset-1
          .content
            p.title.is-4.has-text-weight-bold.is-spaced
              = t('.404 Not Found')
            p
              | URLに誤りがあるか、お探しのページは移動もしくは削除された可能性があります。
            p
              | 理想のデスク環境は構築できましたか？
              br
              | あなたが得た知見をぜひ教えてください。
            br
            .field.is-grouped
              p.control
                = link_to t('defaults.back'), :back, class: 'button is-primary has-text-weight-semibold', data: { turbolinks: false }
              p.control
                = link_to 'マイデスク/アイテムを投稿する', new_post_path, class: 'button is-primary is-inverted has-text-weight-semibold', data: { turbolinks: false }
        .column
          br
          = image_tag('/images/404_image.png')