= link_to t('defaults.login'), login_path
p
= link_to 'Login with Twitter', auth_at_provider_path(:provider => :twitter)
p
= link_to 'Login with Google', auth_at_provider_path(:provider => :google)
p
= link_to t('defaults.register'), new_user_path