/* スマホでのみ表示 */
@media(min-width: 768px) {
  .is-fixed-bottom {
    display: none;
  }

  .is-mobile-only {
    display: none;
  }
}

/* hero-1を定義 */
.hero-1 {
  @extend .hero !optional;
  background-size: cover;
  background-position: center;
}

/* スマホ表示時の順番を指定 */
@media screen and (max-width: 768px) {
  .order1 {
    order: 1;
  }
  .order2 {
    order: 2;
  }
  .order3 {
    order: 3;
  }
  .order4 {
    order: 4;
  }
  .order5 {
    order: 5;
  }
}

.field_with_errors {
  display: inline;
}
