/* スマホでのみ表示 */
@media(min-width: 768px) {
  .is-fixed-bottom {
    display: none;
  }

  .is-mobile-only {
    display: none;
  }
}

/* hero-1を定義 */
.hero-1 {
  @extend .hero !optional;
  background-size: cover;
  background-position: center;
}

